<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <connectionStrings>
    <add name="SchoolJournalEntities" connectionString="metadata=res://*/SJournalDAL_EF.csdl|res://*/SJournalDAL_EF.ssdl|res://*/SJournalDAL_EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUS\SQLEXPRESS;initial catalog=schooljournal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="schooljournalDisconnected" connectionString="Data Source=ASUS\SQLEXPRESS;Initial Catalog=schooljournal;Integrated Security=True" providerName="System.Data.SqlClient" />

  </connectionStrings>

</configuration>